body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9bebe;
    color: #4d2c2c;
}

.container {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    background-color: #fce0e0;
    border: 2px solid #844f26;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.titulo-doceria {
    font-size: 2.2em;
    color: #c94c7c;
    margin-bottom: 5px;
}



.form-login label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-login input[type="text"],
.form-login input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #d9a5a5;
    border-radius: 6px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-login input[type="submit"] {
    background-color: #c94c7c;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-login input[type="submit"]:hover {
    background-color: #b43b6a;
}

.erro {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}